body{
    background-color: whitesmoke;
}
.form {

    color: #393b77;
  }
  
  .form {
    width: 35rem;
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
  
    
  }
  
  .form > input,
  textarea {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
    margin-bottom: 20px;
    border: 1px solid lightgray;
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    @media (max-width: 768px) {
      width: 70vw;
    }
  }
  
  .form > input:focus,
  textarea:focus {
    border: 2px solid rgb(255,196,12);
    @media (max-width: 768px) {
      width: 80vw;
    }
  }
  
  .form > textarea {
    height: 150px;
    min-height: 100px;
    @media (max-width: 768px) {
      width: 80vw;
    }
  }
  
  .form > label {
    padding-bottom: 5px;
    color:#393b77;
    font-weight: bold;
    @media (max-width: 768px) {
      width: 80vw;
    }
  }
  
  .form > button {
    padding: 10px;
    border: none;
    background-color: #fba62a;
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    @media (max-width: 768px) {
      width: 70vw;
    }
  }
  
  .form > button:hover {
    background-color: rgb(251, 224, 90);
  }

.links {
    @media (max-width: 768px) {
        display: none;
      }
}
